@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

.logo {
    height: "50px";
    width: "50px";
}

h1 {
    font-size: 4.5rem;
    font-weight: 700;
    margin-top: 15rem
}
