@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    border: 1px solid red;
}
** {
    border: 1px solid blue;
}
*** {
    border: 1px solid yellow;
}
**** {
    border: 1px solid pink;
}
***** {
    border: 1px solid beige;
}
****** {
    border: 1px solid teal;
}
******* {
    border: 1px solid white;
} */
